body{

font-family:Arial;

background:linear-gradient(135deg,#e8f1ff,#ffffff);

display:flex;

justify-content:center;

padding:40px;

}

.app{

width:420px;

background:white;

padding:25px;

border-radius:15px;

box-shadow:0 10px 25px rgba(0,0,0,0.1);

}

h1{

text-align:center;

color:#3a7cff;

}

input,select{

width:100%;

padding:8px;

margin-top:5px;

margin-bottom:10px;

}

button{

width:100%;

padding:12px;

background:#3a7cff;

color:white;

border:none;

border-radius:8px;

cursor:pointer;

}

.exercise{

background:#f7fbff;

padding:10px;

border-radius:8px;

}